<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title></title>

{% load jq_tags %}
<!-- theme render node should go in the head element -->
{% jquery_ui_theme %}

{% jq_add_script '{{ STATICFILES_URL }}js/foo.js' %}
{% jq_add_inline %}
$('#demo','#content').css({'line-height': '200px', 'text-align': 'center', 'width': '500px'});
{% endjq_add_inline %}

</head>
<body>

{% block content %}
<div id="content">
  <div id="demo" style="position: absolute; background-color: red; height: 200px; width: 200px;">no js here!</div>
</div>
{% jq_add_inline %}
$('#demo','#content').css('background-color','green');
{% endjq_add_inline %}
{% endblock content %}

{% jq_add_inline %}
jQuery('#demo','#content').text('progressively enhanced').css('height', '300px');
django.jQuery('#demo','#content').css({'border': 'solid 5px', 'line-height': function(){ return $(this).outerHeight().toString()+'px'}});
{% endjq_add_inline %}


{% jq_add_plugin '{{ STATICFILES_URL }}js/some/3rdParty/plugin.js' %}

{% comment %}
Use one of the following:
{% jquery %}
{% jquery_ui %}
{% endcomment %}

{% jquery_ui %}

{% comment %}
All jq_add_xxx tags must appear before the jq_xxx tag is 
found in the template!
{% endcomment %}

<!-- render nodes -->
{% jq_plugins %}
{% jq_scripts %}
{% jq_inline %}
<!-- end render nodes -->

{% comment %}
TODO: add an inclusion tag to just handle all of the above render nodes...
{% jquery_all %}
{% endcomment %}

</body>
</html>